<div class="row">
  <div class="col-10">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @tracked_stocks.each do |stock| %>
        <tr>
          <th scope="row"><%= stock.ticker %></th>
          <td><%= stock.name %></td>
          <td><%= stock.last_price %></td>
          <td><%= 'Actions Placeholder' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>